engine/node_modules/
*.wav
reels/**/part_*.mp4
reels/**/st_*.jpg
reels/**/frames/
output/*_v[0-9]*.mp4
reels/**/matte/
reels/**/bg_*/
reels/**/tp_*.mp4
reels/**/st/
reels/**/log_*.txt
reels/**/audio_log.txt
reels/**/tp.txt
reels/**/p2_*.mp4
reels/**/p2.txt
reels/**/p3_*.mp4
reels/**/p3.txt
reels/**/kit/st/
reels/**/kit/k_*.mp4
reels/**/kit/k.txt
reels/**/kit/klog_*.txt
output/template_*.mp4
reels/**/kit/st4/
output/*_mockup.jpg
reels/**/kit/bars_cut.png
output/*_mockup*.jpg
reels/**/kit/st5/
reels/**/kit/v4_*.mp4
reels/**/kit/v4.txt
reels/**/kit/v4log_*.txt
reels/**/kit/assets4/*_preview*.jpg
output/*_fixed.png
output/lipsync_test_*.mp4
